  body
  {
	 background-image: url(images/galaxy.jpg); 
	 background-size:cover;
         background-repeat:no-repeat;
	 padding-top:80px
  }
   
  h1
  {
	  color: white;
	  font-family:'Luckiest Guy', cursive, sans-serif;
          font-weight: 500;
          text-align: center;
          font-size: 3em;
          padding: 20px 10px 10px 10px;
          margin: 30px 10px;
  }
  
  h2
  {
	  color: white;
	  font-family:'Audiowide', cursive, sans-serif;
          font-size: 1.4em;
          padding: 8px 5px 8px 5px;
          margin: 8px 5px 8px 5px;
  }
  
  p
  {
	  color: white;
          font-family: 'Comfortaa', cursive, sans-serif;
          text-align: justify;
          text-indent: 2em;
          font-size: 16px;
          padding: 5px 5px 5px 5px;
          margin: 5px 5px 5px 5px;
  }
  
 table, th, td 
 {
   padding: 5px;
   background-color: #a7adba;
   border-collapse: collapse;
   border-radius: 10px;
 }
